.Authorization{
    display: flex;
    justify-content: center;
}
.authorization__box{
    width: 400px;
    height: 200px;
    margin-top: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.authorization__box input{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
}
.authorization__box button{
    width: 100%;
    height: 50px;
    border: none;
    background-color:rgba(130, 203, 172, 1);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}