.menuAdmin__content {
    width: 280px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    max-height: 1010px;
}
.menu-header {
    margin-bottom: 25px;
}
.menu-header h3 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(130, 203, 172, 1);
    margin-bottom: 10px;
}
.line {
    height: 1px;
    background: #adb5bd73;
    margin: 10px 0;
}
.menu-section {
    margin-bottom: 20px;
}
.section-title {
    font-size: 14px;
    font-weight: 600;
    color: #adb5bd;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.menu-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.menu-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition:  all 0.3s ease;
    position: relative;
    overflow: hidden;
}
.menu-link:hover {
    background-color: rgba(130, 203, 173, 0.096);
    color: rgba(130, 203, 172, 1);
    transform: translateX(5px);
}
.menu-link:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color:  rgba(130, 203, 172, 1);
    border-radius: 0 3px 3px 0;
}
  

