.modalAdmin__content{
    background-color: rgba(0, 0, 0, 0.479);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.modalAdmin__form h3{
    margin-bottom: 40px;
}
.modalAdmin__form{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}
.modalAdmin__form-over{
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: 30px;
    cursor: pointer;
}
.modalAdmin__form-box{
    display: flex;
    flex-direction: column;
}
.input{
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(214, 214, 214, 0.63);
    padding: 10px 20px;
    width: 500px;
    height: 70px;
}
.descript{
    resize: none;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(214, 214, 214, 0.63);
    padding: 25px 20px;
    width: 500px;
    height: 70px;
}
.modalAdmin-button{
    width: 100%;
    height: 70px;
    border: none;
    background-color: rgba(130, 203, 172, 1);
    color: #fff;
}
.fails{
    padding: 0 0 20px 10px;
}
.checkbox__box{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 30px;
}
.checkbox__box-text{
    color: rgb(102, 102, 102);
}
@media (max-width:600px) {
    .input{
        width: 100%;
    }
}