.Home {
    margin-top: 220px;
}
.Home_text h1{
    font-size: 65px;
    color: black;
    width: 647px;
}
h1 span{
    color: rgba(243, 226, 14, 1);
}
.Home_text p{
    font-size: 18px;
    margin-top: 34px;
    width: 634px;
}
.Home_text button{
    font-size: 22px;
    font-weight: 700;
    padding: 27px 46px;
    margin-top: 40px;
    background-color: rgba(243, 222, 16, 1);
    border: none;
    width: 307px;
    border-radius: 20px;
}
