.footer{
    background-color: #Fff;
}
.footer__content{
    display: flex;
    padding: 80px 0;
    justify-content: space-between;
}
.footer__content-logo{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer__content-logo a{
    margin: 20px;
}
.footer__content-logo img:nth-child(3){
    width: 32px;
    margin-left: 20px
}
.footer__content-sections nav ul, .footer__content-documents ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
}
@media(max-width:1262px) {
    .footer__content{
        flex-direction: column;
        gap: 10px;
    }
    .footer__content-logo a{
        margin: 20px 0;
    }
    .footer__content-logo img:nth-child(3){
        width: 32px;
        margin-left: 0;
    }
}