h3{
    font-size: 24px;
    font-weight: 600;
}
.sliderContent__content-navbar div{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.sliderContent__content-navbar button{
    font-size: 18px;
    color: #fff;
    padding: 20px 10px;
    background: none;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 0.5s;
}
.sliderContent__content-navbar button:hover{
    box-shadow: inset 300px 0 0 0 rgb(255, 255, 255);
    color: black;
}
.sliderContent__card{
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.sliderContent-text{
    margin-top: 40px;
}
.sliderContent-text p{
    margin-bottom: 20px;
    font-size: 18px;
}
@media(max-width:1262px) {
    .sliderContent-text {
        margin-top: 15px;
    }
    .sliderContent-text p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sliderContent__card {
        gap: 15px;
    }
}
@media(max-width:1030px) {
    .sliderContent__card {
        flex-direction: column;
    }
    .sliderContent__card img{
        width: 120px;
    }    
}
@media(max-width:662px) {
    .sliderContent__card {
        padding: 15px;
    }
}
@media(max-width:400px){
    .sliderContent__content-navbar div {
        gap: 10px;
    }
    .sliderContent__card-text h3{
        font-size: 18px;
    }
}