h3{
    font-size: 24px;
    font-weight: 600;
}
.sliderContent__content-navbar div{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.menuSlider button.active {
    background-color: #ffffff;
    color: black;
}
@media (width>910px){
    .sliderContent__content-navbar button:hover{
        box-shadow: inset 300px 0 0 0 rgb(255, 255, 255);
        color: black;
    }
}
.sliderContent__card{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.sliderContent__card img{
    max-width: 190px;
}
.sliderContent-text{
    margin-top: 40px;
}
.sliderContent-text p{
    margin-bottom: 12px;
    line-height: 1.4;
    font-size: 18px;
}
@media(max-width:1262px) {
    .sliderContent-text {
        margin-top: 15px;
    }
    .sliderContent-text p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sliderContent__card {
        gap: 15px;
    }
}
@media(max-width:1030px) {
    .sliderContent__card {
        flex-direction: column;
    }
    .sliderContent__card img{
        width: 120px;
    }    
}
@media(max-width:662px) {
    .sliderContent__card {
        padding: 15px;
    }
}
@media(max-width:400px){
    .sliderContent__content-navbar div {
        gap: 10px;
    }
    .sliderContent__card-text h3{
        font-size: 18px;
    }
}