.banner{
    height: 1000px;
    background: url('../../../public/imges/fon1.jpg')  center no-repeat;
}
h1{
    font-size: 52px;
    color: #fff;
}
span{
    color: rgba(255, 208, 95, 1);
}
.banner__content{
    width: 100%;
    display: flex;
    justify-content: center;
    height: inherit;
    flex-direction: column;
}
.banner__content p {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    width: 54%;
}
.banner__content a{
    max-width: 305.16px;
}
.generalBtm{
    color: #fff;
    margin-top: 28px;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(90, 189, 120);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
}
.generalBtm:hover {
    background-color: #45a37f;
  }
.generalBtm a{
    color: #fff;
}
@media (max-width:1131px) {
    .banner__content{
        padding-top: 120px;
    }   
}
@media (max-width:1030px) {
    .banner__content p{
        width: 100%;
    }   
}
@media (max-width:620px) {
    h1{
        width: 100%;
        font-size: 38px;
    } 
    .banner__content p{
        font-size: 18px;
    }
    .banner__content{
        padding-top: 45px;
    } 
}
@media (max-width:360px) {
    h1{
        width: 100%;
        font-size: 32px;
    } 
}
