h2{
    color: black;
    font-size: 36px;
    margin-bottom: 30px;
}
.mainCamp__content h2{
    color: #fff;
}
.mainCamp{
    background-image: url('../../../public/imges/backCapm.jpg');
    height: 1288px;
}
.mainCamp__content{
    padding-top: 80px;
}
