.partners__content{
    padding-top: 200px;
    position: relative;
}
 .partners__content h2{
    color: black;
}
.partners__box{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.partners__box-cards{
    background-color: #fff;
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.partners__box-cards p{
    font-weight: 500;
}
.partners__box-cards:hover{
    transform: scale(1.1);
}
.partners__box-cards img{
    margin-bottom: 12px;
}
@media(max-width:1790px){
    .partners__box-cards{
        width: 270px;
    }   
    .partners__box{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}
@media(max-width:1262px) {
    .partners__box-cards{
        width: 240px;
        padding: 30px;
    } 
    .partners__box-cards p{
        font-size: 14px;
    }
}
@media (max-width:500px){
    .partners__content{
        padding-top: 170px;
    }
}