.partners__content{
    padding-top: 200px;
    position: relative;
}
 .partners__content h2{
    color: black;
}
.partners__box{
    text-align: center;
}
.partners__box-cards{
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    height: 192px;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.partners__box-cards img{
    max-width: 108px;
    max-height: 78px;
}
.partners__box-cards p{
    font-weight: 500;
    color: rgba(108, 108, 108, 1);
}
.partners__box-cards img{
    margin-bottom: 12px;
}
@media(max-width:1262px) {
    .partners__box-cards{
        padding: 30px;
    } 
    .partners__box-cards p{
        font-size: 14px;
    }
}
@media (max-width:500px){
    .partners__content{
        padding-top: 170px;
    }
}