.teachers__content{
    padding: 80px 0;
}
.teachers__content-cards .cards {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap:50px 100px;
}
.teachers__cards-img{
    width: 190px;
    height: 190px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    transition: 0.4s;
}
.teachers__cards-img:hover{
    transform: scale(1.1);
}
.teachers__cards-title{
    padding: 30px 0 15px;
    font-weight: 600;
    font-size: 18px;
}
.teachers__cards_desc{
    width: 232px;
    color: rgba(108, 108, 108, 1);
}
.video{
    text-align: center;
    background-color: #fff;
}
.video video{
    width:100%;
    height:100%;
}
