.navbar_box-user{
    width: 100%;
    backdrop-filter: blur(2px);
    padding: 20px 0;
    position:absolute;
    left: 0;
    top: 0;
}
.navbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navnar-page{
    display: flex;
    gap: 40px;
}
.navnar-page button{
    color: #fff;
    font-size: 20px;
    background: none;
    border: none;
}
.navbar_box-admin{
    width: 100%;
    padding: 30px 0;
    position: absolute;
    left: 0;
    top: 0;
}
.navnar-admin{
    display: flex;
    gap: 40px;
}
.navbar_box-admin .navbar-flex button{
    color: black;
    font-size: 24px;
    font-weight: 600;
    background: none;
    border: none;
}
