@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
body{
    background-color: rgba(229, 244, 253, 1);
}
button{
    cursor: pointer;
}
.wrap{
    max-width: 1912px;
    width: 67.05%;
    margin: 0 auto;
}
.wraper{
    max-width: 1912px;
    width: 85%;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
@media(max-width:662px) {
    .wrap{
        width: 90%;
    }
}