@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
body{
    background-color: rgba(229, 244, 253, 1);
}
button{
    cursor: pointer;
}
.wrap{
    max-width: 1912px;
    width: 67.05%;
    margin: 0 auto;
}
.wraper{
    max-width: 1912px;
    width: 85%;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
@media(max-width:662px) {
    .wrap{
        width: 90%;
    }
}