.SharedContainer{
    padding-top: 20px;
    position: relative;
}
.form {
    max-width: 900px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 6px #c0c0c0;
    padding: 10px;
}
.SharedContainer button{
    padding: 10px;
    font-size: 16px;
}
.Container__box{
    margin-top: 20px;
}
.Btm{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}
.Btm-left{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}
.form__box-text{
    padding: 19px 58px 0;
    display: flex;
    flex-direction: column;
}
.SharedContainer input{
    border: none;
}
.description{
    padding: 10px;
    margin-top: 10px;
    width: 766px;
    height: 124px;
    background-color: rgba(230, 230, 230, 1);
}
.title{
    padding: 10px;
    margin-top: 10px;
    width: 500px;
    height: 50px;
    background-color: rgba(230, 230, 230, 1);
}
.form__box-file{
    padding: 20px 58px 0;
}
.form__box-file input{
    margin-top: 10px;
    margin-left: 10px;
}
.form__submit{
    margin: 20px 58px;
    padding: 10px ;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: none;
    background-color:rgba(230, 230, 230, 1);
}
.img{
    margin-top: 10px;
    width: 360px;
    height: 400px;
}
.Card__container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.Card__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 6px #c0c0c0;
    padding: 20px 68px;
    max-width: 490px;
}
.Card__box-text{
    max-width: 354px;
}
h1{
    padding: 0;
    margin: 0;
}
label{
    font-weight: bold;
}
.label__des{
    margin-top: 10px;
}
p{
    font-size: 18px;
}
form p {
    color: rgba(169, 169, 169, 1);
}
.modalform{
    background-color: rgb(255, 255, 255);
}
.modal-title{
    padding: 10px 10px 0;
    display: flex;
    justify-content: space-between;
}
.modal-title button{
    width: 100px;
    background-color: rgb(238, 74, 74);
    border: none;
    color: #fff;
}
.number{
    width: 60px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(230, 230, 230, 1);
}